@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

body{
     font-family:"Montserrat","Noto Sans","Noto Sans KR";
     color:#374052;
     font-weight:300,700;
     font-size:12px;
     background-color:#FAFAFA;
     word-break:keep-all;
     line-height:150%;
     -ms-overflow-style:none;
}
.header{
     position:sticky;
     top:0;
     display:flex;
     align-items:center;
     width:100%;
     height:50px;
     background-color:#FAFAFA99;
     backdrop-filter:blur(4px);
     -webkit-backdrop-filter: blur(4px);
}
.contain{
     width:280px;
     padding:0;
     margin:0 auto;
}
.badge{
     display:inline-block;
     height:20px;
     padding-left:5px;
     padding-right:5px;
     font-size:10px;
}
.word{
     padding-left:40px;
     margin-bottom:20px;
}
.underline{
     width:200px;
     margin:0 auto;
     margin-bottom:40px;
     padding-top:0;
     padding-bottom:0;
     border-bottom:1px solid #1D2F52;
     text-align:center;
}
.limit{
     display:inline-block;
     text-align:center;
     padding-left:10px;
     padding-right:10px;
     padding-top:2px;
     margin-right:5px;
     margin-bottom:5px;
     height:18px;
     border-radius:10px;
     background-color:#1D2F52;
     color:#F5F5F5;
}
.timil{
     display:inline-block;
     text-align:center;
     padding-left:10px;
     padding-right:10px;
     padding-top:2px;
     margin-right:5px;
     margin-bottom:5px;
     height:18px;
     border-radius:10px;
     background-color:#F5F5F5;
     color:#374052;
}
#floating{
     position:fixed;
     left:50%;
     transform:translate(-50%,0);
     bottom:20px;
     width:260px;
     padding-left:20px;
     padding-right:20px;
     padding-bottom:10px;
     border-radius:10px;
     background-color:#FAFAFA80;
     backdrop-filter:blur(4px);
     -webkit-backdrop-filter: blur(4px);
}
#gnitaolf{
     display:flex;
     position:fixed;
     justify-content:center;
     align-items:center;
     bottom:20px;
     left:50%;
     transform:translate(-50%,0);
     width:50px;
     height:50px;
     border-radius:25px;
     color:#F5F5F5;
     background-color:#1D2F52;
}
#search{
      width:180px;
      height:40px;
      border:none;
      outline:none;
      text-align:center;
      font-size:20px;
      font-family:"Montserrat","Noto Sans","Noto Sans KR";
      color:#374052;
      font-weight:300,700;
      background-color:#FAFAFA;
}
#modal{
     position:fixed;
     overflow:auto;
     left:50%;
     top:50%;
     transform:translate(-50%,-50%);
     width:280px;
     height:380px;
     padding-left:10px;
     padding-right:10px;
     padding-top:10px;
     padding-bottom:10px;
     border-radius:50px;
     background-color:#FAFAFA66;
     box-shadow: 1px 1px 10px 0px #3374FF33;
     backdrop-filter:blur(4px);
     -webkit-backdrop-filter: blur(4px);
}
h2,h3{
     color:#1D2F52;
}
h2{
     font-weight:normal;
     margin-bottom:20px;
}
a,p{
     color:#374052;
}
a{
     text-decoration:none;
}
table{
     color:#374052;
     border-spacing:0;
     margin:0 auto;
}
td{
     padding:10px;
}
blockquote{
     margin-left:10px;
     padding-left:10px;
     border-left:2px solid #1D2F52;
}
img{
     image-rendering:crisp-edges;
}
